# Ignore the directory where downloaded files are stored
my_files/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env/

# Ignore system files
.DS_Store

# Ignore dataset files
ConversationStreamDistribution/

# Ignore .txt and .jpg files under DownloadedPosts/
#ignoring root direrctory failed for some reason so specified file type directyl 
#be sure to change this if you want to keep these file types in the repository
*.txt
*jpg
*.jpg*
*.xz

#ignore the following files which are generated during runtime
# these files are generated during runtime and should not be tracked by git
failed_urls.txt
# this file is used to rename downloaded files and should not be tracked by git
testLogin.py
rename.py