# Ignore the directory where downloaded files are stored
my_files/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env/

# Ignore system files
.DS_Store

# Ignore dataset files
ConversationStreamDistribution/
Downloaded_Posts/

#ignore downloaded files with specific extensions
*.txt
*jpg
*.jpg*
*.xz
*.mp4 

#ignore the following files which are generated during runtime
# these files are generated during runtime and should not be tracked by git
failed_urls.txt
# this file is used to rename downloaded files and should not be tracked by git
check_deterministim.py
rename.py

