# Ignore the directory where downloaded files are stored
my_files/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env/

# Ignore system files
.DS_Store

#ignore dataset files
ConversationStreamDistribution/ 